*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body{
  background: #fff;
  font-weight: 300;
  font-size: 20px;
}

main{
	margin: 0 auto;
	width:80vw;
}

.modal-open{
	overflow:hidden;

}
